@import "variables";

.wrapper {
  height: calc(100vh - 2 * $global-padding);
}

.lists-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.list {
  height: 300px;
  flex: 40% 1 1;
}
