@if (_list) {
  <p-card class="card-full-height">
    <ng-template pTemplate="header">
      <div class="header-row">
        <p-inplace #inplace>
          <ng-template pTemplate="display">
            <span class="header-row">
              <h6>{{ _list.name }}</h6>
              <i class="pi pi-pencil m-l-m" aria-hidden="true"></i>
            </span>
          </ng-template>
          <ng-template pTemplate="content">
            @if (formGroupEditName) {
              <form [formGroup]="formGroupEditName" (ngSubmit)="editName()" class="m-r-s">
                <p-inputgroup>
                  <input type="text" pInputText formControlName="name"/>
                  <p-button type="submit">
                    <i class="pi pi-check" aria-hidden="true"></i>
                  </p-button>
                </p-inputgroup>
              </form>
            }
          </ng-template>
        </p-inplace>
        <p-button icon="pi pi-trash" [text]="true" [rounded]="true" aria-hidden="true"
                  (click)="delete()" severity="danger"></p-button>
      </div>
      <spl-progress-bar [shown]="loading"/>
    </ng-template>
    <spl-list-preview [listId]="_list.id"></spl-list-preview>
  </p-card>
  <p-button class="details-button" routerLink="/lists/{{_list.id}}" icon="pi pi-arrow-right"/>
}
