@if (categorizedItems(); as categories) {
  @for (category of categories|sortCategories; track category.id) {
    <div class="small-text">
      @if (completed(category)) {
        <span class="text-strike">
          {{ category.name }}
        </span>
      } @else {
        {{ category.name }}
        <ul>
          @for (item of category.items|sortItems; track item.id) {
            <li class="m-t-s" [ngClass]="{'text-strike': item.checked}">{{ item.name }}</li>
          }
        </ul>
      }
    </div>
  }
} @else {
  <div class="loading-container">
    @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track i) {
      <p-skeleton height="0.5rem" [width]="!(i % 2) ? '80%': !(i % 3) ? '60%' : '90%'"/>
    }
  </div>
}
