@use "styles/variables" as vars;

body {
  margin: 0;
  font-family: Inter var, sans-serif;

  --p-button-padding-x: 0.625rem;
  --p-button-icon-only-width: 2.5rem;

  --p-select-dropdown-width: 2rem;

  --background-color: #121212;

  background-color: var(--background-color);

  @media (prefers-color-scheme: light) {
    --background-color: #f3f3f3;
  }

}

.text-strike {
  text-decoration: line-through;
}

.m-l-s {
  margin-left: 0.2em;
}

.m-l-m {
  margin-left: 0.4em;
}

.m-t-xs {
  margin-top: 0.25em;
}

.m-t-s {
  margin-top: 0.5em;
}

.m-t-m {
  margin-top: 0.75em;
}

.m-t-l {
  margin-top: 1em;
}

.m-b-xs {
  margin-bottom: 0.25em;
}

.m-b-s {
  margin-bottom: 0.5em;
}

.m-b-m {
  margin-bottom: 0.75em;
}

.m-b-l {
  margin-bottom: 1em;
}

.m-r-xs {
  margin-right: 0.25em;
}

.m-r-s {
  margin-right: 0.5em;
}

.m-r-m {
  margin-right: 0.75em;
}

.m-r-l {
  margin-right: 1em;
}

/*.p-highlight {
  color: $color-main !important;
}*/


.card-full-height .p-card {
  height: 100%;
}


.p-card-header {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid vars.$color-main-light;
  box-shadow: 0 10px 10px -10px vars.$color-main-light;

  &:has(spl-progress-bar) {
    padding-bottom: calc(1rem - 5px);
  }
}


.p-card-body {
  min-height: 0;
}

.p-card-content {
  overflow: hidden;
}


ul {
  padding-inline-start: 0.75rem;
  margin-block: 0.25rem !important;
}

.pos-sticky {
  position: sticky;
  top: 0;
  margin-top: 0 !important;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  margin-bottom: 10px;

  box-shadow: var(--background-color) 0 0 10px 5px;
  background-color: var(--background-color);
  z-index: 999;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h1 {
    margin: 0 0 0.5rem;
  }

  &:has(spl-progress-bar) {
    padding-bottom: calc(0.5rem - 5px);
  }
}

.w-100 {
  width: 100%;
}

.p-select-trigger {
  width: 2rem !important;
}

.p-select-label {
  padding-right: 0 !important;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pointer {
  cursor: pointer;
}
